|<%= link_to "Manufactures", manufactures_path %>
|
<div>

  <div class='col-md-6'>
  <%= simple_form_for(@manufacture, html: {class: 'form-vertical' }) do |f| %>
    <% [:name, :gross, :active, :rate].each do |attribute| %>
      <%= f.input attribute %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
  </div>

  <div class='col-md-6'>
    <p>Teste</p>
  </div>

</div>

