|<%= link_to "Manufactures", manufactures_path %>
|<%= link_to "Products", manufacture_products_path(params[:id]) %>
|

<ul>
	<% @manufacture.attributes.each do |attribute| %>
		<li style="font-weight: bold;"><%= attribute[0] %></li>
		<dd><%= attribute[1] %></dd>
	<% end %>
</ul>
