|<%= link_to "Manufactures", manufactures_path %>
|<%= link_to "Products", manufacture_products_path(params[:manufacture_id]) %>
|

<p>Products index</p>

<ul>
	<% @products.each do |product| %>
		<li>
			<%= link_to product.name, manufacture_product_path(params[:manufacture_id],product.id) %>
		</li>
	<% end %>
</ul>

<%= link_to 'New', new_manufacture_product_path %>
